<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог РСЦ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>

<body data-hasqtip="0">

<div class="container py-3 mb-1">

    <header th:insert="blocks/header.html :: header"></header>
    <div>

        <form method="post">
            <label for="data_v"> Дата внесення з : </label>
            <input type="date" name="data_v" th:value="${dat}" placeholder="Дата внесення з" class="form-control"
                   id="data_v"><br>

            <label for="data_v2"> Дата внесення по: </label>
            <input type="date" name="data_vpo" th:value="${dat_last}" placeholder="Дата внесення по"
                   class="form-control" id="data_v2"><br>

            <div class="col-lg-3" th:object="${pidrozdilList}">
                <select class="form-control" id="testOrder" name="testOrder">
                    <option value="">Виберіть ТСЦ для друку</option>
                    <option th:each="tsc : ${pidrozdilList}"
                            th:value="${tsc.pidrozdil}"
                            th:text="${tsc.pidrozdil}">
<!--                            th:text="${tsc.pidrozdil}+' : '+${tsc.ip}">-->
                    </option>
                </select>
            </div>
<!--            // ****************************************-->
<!--            <span th:each="tsc:${pidrozdilList}" th:remove="tag">-->
<!--          <option th:value="${tsc.pidrozdil}" th:text="${tsc.getPidrozdil()}"></option>-->
<!--            </span>-->
<!--            // *****************************************-->
<!--            <div class="form-group col-md-8">-->
<!--                <label  class="col-form-label">Category </label>-->
<!--                <select  id="category" name="category" th:field="*{pidrozdil}" >-->
<!--                    <option th:each="category : ${pidrozdil}" th:value="${category.id}" th:utext="${category.name}"/>-->
<!--                </select>-->
<!--            </div>-->
<!--            // ******************************************-->
            <!--            <a th:href="'../rubin/rubin-print'" role="button" class="btn btn-warning">Печать</a>-->
            <!--            <a th:href="'/rubin/'+ ${el.id} +'/remove'" class="btn btn-warning" aria-pressed="false" >Удалить</a>-->
            <button type="submit" class="btn btn-success">Пошук</button>
        </form>
    </div>
    <div>
        <div class="container mt-5 mb-1">
            <!--            <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>-->
            <div th:each="rubin:${rubinList}" class="alert alert-info mt-2">
                <a th:href="@{/rubin/week/{id}(id=${rubin.getId()})}"
                   th:text="${rubin.getPidrozdil() + ' .... ' + rubin.getData_v()}">user</a>
                <p th:text="${'звернень за день :' +rubin.week_appeal + '  виданих за день : '+rubin.week_issued  }"/>
            </div>

        </div>

    </div>
</div>

</body>

</html>