<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Лог рубина</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body data-hasqtip="0">

<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5">
    <h1>Виправить помилку або повернутить на головну</h1>
    <div th:each="rwd:${rubin_week_det}" class="alert alert-info mt-2">

        <h3 th:text="${rwd.pidrozdil + ' . . . . .' + rwd.data}"></h3>
        <p th:text="${'звернень за день :..' + rwd.week_appeal}"></p>
        <p th:text="${'виданих  за день :..' + rwd.week_issued}"></p>
<!--        <a th:href="@{'/rubin/week/'+ ${rwd.id} + '/update'" role="button" class="btn btn-warning">Змінита</a>-->
<!--        <a th:href="@{'/category/edit/' + ${category.id}}">view</a>-->

        <a th:href="'/rubin/week/'+ ${rwd.id} +'/update'" class="btn btn-warning" aria-pressed="false" >Змінити</a>
        <a th:href="'/rubin/week/'+ ${rwd.id} +'/remove'" class="btn btn-warning" aria-pressed="false" disabled>Видалити</a>
<!--        <a onclick="window.open('ms-excel:ofe|u|http://localhost/iis-server/test.xlsx')"> Open Excel </a>-->
    </div>
</div>

<div th:insert="blocks/footer.html :: footer"></div>

</body>
</html>