<!DOCTYPE HTML>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог РСЦ NNNNNNN</title>
<!--    <link rel="stylesheet" th:href="@{../../../style.css}">-->

<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          href="../../css/gtvg.css" data-th-href="@{/css/gtvg.css}" />-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>

</style>

</head>
<body data-hasqtip="0">

<div id="container" style="width:100%;">
    <div id="left" style="float:left; width:50%;">
        Левая панель
    </div>
    <div id="right" style="float:right; width:50%;">
        Правая панель
    </div>
</div>

</body>
</html>