<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Арест</title>
<!--    <link th:href="@{/css/style.css}" rel="stylesheet"/>-->

</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<table>
    <tr>
<!--        <th>Власник</th>-->
<!--        <th class="th1"> Марка модель</th>-->
<!--        <th class="th1">Дата операції</th>-->
    </tr>

    <tr th:each="dataSnaPos:${dataSnaPos}">
<!--        <td id="col1"><a th:text="${dataSnaPos}"></a></td>-->
        <p> Мах. дата  в  Sybase : <b th:text="${dataSnaSybase}"> </b></p>
        <p> Мах. дата в Postgres : <b th:text="${dataSnaPos}"> </b></p>
        <p> Різниця  в  записах  : <b th:text="${records}"> </b></p>
    </tr>
<!--        <td><p class="a"-->
<!--               th:text="${AmtHyst.getMarka() +' рік вип. '+AmtHyst.getData_v() +', '+ AmtHyst.getColor()}"></p>-->

</table>
<!--<oo>Carefully Styled Heading</oo>-->
<h5>Sync table "arest" completed</h5>
</body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</html>