<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Пошук по регіональній автоматизованій базі АМТ</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<form th:method="POST" th:action="@{/karta/}" th:object="${karta}">
    <label for="Znak" >Номерний знак: </label>
    <input type="text" th:field="*{znak}" id="Znak"/>

    <br>
    <label  for="Znak">Свідоцтво про реєстр : </label>
    <input type="text" th:field="*{teh_pasp}" id="teh_pasp"/>
    <br/>

    <label  for="Znak">Vin : </label>
    <input type="text" th:field="*{kart_id}" id="kart_id"/>
    <br/>

    <label  for="Znak">№ кузова : </label>
    <input type="text" th:field="*{num_cuz}" id="num_cuz"/>
    <br/>

    <input type="submit" value="Пошук"/>

<!--    <oo>Carefully Styled Heading</oo>-->

</form>

</body>
</html>