<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Search</title>
<!--    <link th:href="@{/css/style.css}" rel="stylesheet"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
<!--    <link rel="stylesheet" type="text/css" media="all" href="../assets/css/style.css" th:href="@{/css/style.css}" />-->
<!--    <link href="../static/css/cssandjs.css" th:href="@{/templates/static/css/cssandjs.css}" rel="stylesheet" />-->

<!--    <style type="text/css">-->


<!--        h22 {-->
<!--            font-family: sans-serif;-->
<!--            font-size: 3.5em;-->
<!--            text-transform: uppercase;-->
<!--            color:brown;-->
<!--        }-->
<!--    </style>-->
</head>
<body>

<form th:method="POST" th:action="@{/karta/}" th:object="${karta}">
    <label for="Znak" >Номерний знак: </label>
    <input type="text" th:field="*{znak}" id="Znak"/>

    <br/>
    <label  for="Znak">Свідоцтво про реєстр : </label>
    <input type="text" th:field="*{teh_pasp}" id="teh_pasp"/>
    <br/>

    <input type="submit" value="Пошук"/>
    <br/>
    <input type="checkbox">
    <br/>

    <input type="date">

    <h2>Carefully Styled Heading</h2>

</form>

</body>
</html>