<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<table>
    <tr>
<!--        <th>Власник</th>-->
<!--        <th class="th1"> Марка модель</th>-->
<!--        <th class="th1">Дата операції</th>-->
    </tr>

    <tr th:each="dataSnaPos:${dataSnaPos}">
        <td id="col1"><a th:text="${dataSnaPos}"></a></td>

<!--        <td><p class="a"-->
<!--               th:text="${AmtHyst.getMarka() +' рік вип. '+AmtHyst.getData_v() +', '+ AmtHyst.getColor()}"></p>-->

<!--            <p th:text="${AmtHyst.getNum_cuz!=null}? ${'Kуз.'+AmtHyst.getNum_cuz}:''"></p>-->
<!--            <p th:text="${AmtHyst.getNum_shas!=null}? ${'Шас. '+AmtHyst.getNum_shas}:''"></p>-->
<!--            <p th:text="${AmtHyst.getNum_dv!=null}? ${'Дв. '+AmtHyst.getNum_dv}:''"></p>-->
<!--            <p th:text="${'Vin '+AmtHyst.getKart_id()}"></p></td>-->

<!--        <td><a th:text="${AmtHyst.getData_oper()}"></a></td>-->
    </tr>
    <tr th:each="dataSnaSybase:${dataSnaSybase}">
        <td id="col2"><a th:text="${dataSnaSybase}"></a></td>
        <br>
    </tr>
    <tr th:each="records:${records}">
        <td id="col3"><a th:text="${records}"></a></td>
        <br>
    </tr>
</table>
<oo>Carefully Styled Heading</oo>
<h5>Carefully Styled Heading</h5>
</body>
</html>