 .headerr11 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url("static/imeges/ZHytomyr.png");
     width: 640px;
     height: 360px;
 }

 .header__top11 {
    display: flex;
    justify-content: space-between;
 }


