 .headerr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url("/imeges/ZHytomyr.jpg");
     width: 640px;
     height: 360px;
 }

 .header__top {
    display: flex;
    justify-content: space-between;
 }

 .h1 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
 }

