<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>РСЦ ГСЦ МВС в Житомирській області</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    </head>

</head>

<body data-hasqtip="0" >

<header class="header" th:insert="blocks/header.html :: header">
<!--<header class="header" th:insert="blocks/header.html :: header">-->

<!--    <div class="header__top">-->
<!--        -->
<!--        <a href="#menu">-->
<!--            <img src="/imeges/Site_HSC_MIA.png" alt="GSC logo">-->
<!--        </a>-->
<!--    </div>-->

</header>

<div class="menu" id="menu">
    <div class="menu__top">
        <img src="images/logo.png" alt="Що далі ?">
        <a href="#home">
            <img
                    src="images/icons/Icon-Close.png"
                    alt="Close"
            >
        </a>
    </div>

    <nav class="nav">
        <a href="#home" class="nav__link">Home</a>
        <a href="#recommended" class="nav__link">ТСЦ ..звіт щоденний</a>
        <a href="/karta/searchAMT" class="nav__link">Компан</a>
        <a href="#how-to-buy" class="nav__link">Арест</a>
    </nav>
</div>

<main>
    <section >
        <h2>
            Recommended
        </h2>
    </section>

    <section >
<!--        <h2>-->
<!--            Browse Bose <br>products by category-->
<!--        </h2>-->
    </section>

    <section >
<!--        <h2>-->
<!--            Why buy direct <br>from Bose-->
<!--        </h2>-->
    </section>

</main>

<footer>

</footer>

</body>
</html>