
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<div class="container mt-5">
    <h1>Блог сайта</h1>
    <div th:each="rub:${rubin}" class="alert alert-info mt-2">
        <h1 th:text="${rubin.}"/>
        <p th:text="${el.full_text}"/>
        <p><b>Просмотры:</b> <span th:text="${el.views}"/></p>
        <a th:href="'/blog/'+ ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        <form th:action="'/blog/'+ ${el.id} +'/remove'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>
</div>

</body>
</html>