<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Помісячний звіт РСЦ Рубін</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body data-hasqtip="0">
<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5">
    <h1>Формування помісячного звіту РСЦ</h1>
</div>

<div  class="alert alert-info mt-2">

</div>


<div th:insert="blocks/footer.html :: footer"></div>

</body>
</html>