<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вмпавлення помилки</title>
</head>
<body>
<div>
    <header th:insert="blocks/header.html :: header"></header>

    <!--        обработка записи на той-же сранице / методе-->
    <form th:each="el:${rubin}" method="post">

        <label for="pidrozdil">ТСЦ : </label>
        <!--/*@thymesVar id="pidrozdil" type="toppan"*/-->
        <input type="text" th:value="${el.pidrozdil}" name="pidrozdil" placeholder="Підрозділ" class="form-control"
               id="pidrozdil"><br>
        <label for="data_v">Дата : </label>
        <input type="date" th:value="${el.data_v}" name="data_v" placeholder="Дата внесення" class="form-control"
               id="data_v"><br>

        <label for="week">Кількість звернень за тиждень : </label>
        <input type="text" th:value="${el.week}" name="week" class="form-control" id="week"/>

        <label for="week_1">Кількість виданих.. за тиждень : </label>
        <input type="text" th:value="${el.week_1}" name="week_1" id="week_1"/><br>

        <label for="year_0">Кількість звернень за рік ......... : </label>
        <input type="text" th:value="${el.year_0}" name="year_0" id="year_0"/>

        <label for="year_1">Кількість виданих.. за рік ....... . : </label>
        <input type="text" th:value="${el.year_1}" name="year_1" id="year_1"/><br>
        <button type="submit" class="btn btn-success">Обновить</button>
    </form>

</div>
</body>
</html>