<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проверка</title>
</head>
<body>
<!--/*@thymesVar id="tit" type=""*/-->
<div>  <header th:insert="blocks/header.html :: header"></header>
<!--    // week -   за неділю           Кількість звернень громадян щодо видачі довідок про відсутність (наявність) судимості-->
<!--    // week_1 - за неділю           Кількість виданих довідок про відсутність (наявність) судимості-->
<!--    //-->
<!--    // year -   З початку року   Кількість звернень громадян щодо видачі довідок про відсутність (наявність) судимості-->
<!--    // year_1 - З початку року   Кількість виданих довідок про відсутність (наявність) судимості-->
    <form action="../rubin/rubin-add" method="post">
        <label for="pidrozdil">ТСЦ : </label>
<!--        <input type="text" th:value="${tsc}" disabled name="pidrozdil" placeholder="Підрозділ" class="form-control" id="pidrozdil"><br>-->
        <input type="text" th:value="${tsc}" name="pidrozdil" placeholder="Підрозділ" class="form-control" id="pidrozdil"><br>
        <label for="data_v">Дата : </label>
        <input type="date" name="data_v" placeholder="Дата внесення" class="form-control" id="data_v" ><br>
        <label for="week">Кількість звернень за тиждень : </label>
        <input type="text" name="week" placeholder="звернень за тиждень" class="form-control" id="week"><br>
        <label for="week_1">Кількість виданих.. за тиждень : </label>
        <input type="text" name="week_1" placeholder="виданих за тиждень" class="form-control" id="week_1"><br>
        <label for="year">Кількість звернень за рік : </label>
        <input type="text" name="year" placeholder="Кількість звернень за рік" class="form-control" id="year"><br>
        <label for="year_1">Кількість виданих.. за рік : </label>
        <input type="text" name="year_1" placeholder="Кількість виданих.. за рік" class="form-control" id="year_1"><br>

<!--        <textarea name="completeness" placeholder="Комплектность" class="form-control"></textarea><br>-->
        <button type="submit" class="btn btn-success">Записать</button>
    </form>
</div>
</body>
</html>