<div th:fragment="header">
    <div>
        <!--    <link rel="stylesheet" href="main.css">-->
        <style>
            body {
                font-family: sans-serif;
            }

            ul {
                display: flex;
                padding-left: 0;
                list-style: none;
            }

            li {
                position: relative;
            }

            li:hover .submenu {
                display: flex;
            }

            li:hover .submenu2 {
                display: flex;
            }

            a {
                display: block;
                color: black;
                text-decoration: none;
                background-color: #eaebee;
                padding: 1em;
                white-space: nowrap;
            }

            a:hover {
                background-color: #b0c7c1;
            }

            a:focus {
                outline: none;
                background-color: yellow;
            }

            .submenu {
                display: none;
                flex-direction: column;
                position: absolute;
            }

            .submenu2 {
                display: none;
                flex-direction: column;
                position: absolute;
            }
        </style>


        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

            <span class="fs-3">РСЦ ГСЦ МВС в Житомирській області.

                <!--                Today in Zhytomyr:-->
                <!--                <span-->
                <!--                    th:text="${#dates.format(standardDate, 'dd-MMMM-yyyy HH:mm')}">-->
                <!--                </span>-->

            </span>

        </a>

        <nav class="d-inline-flex mt-0 mt-md-0 ms-md-auto">
            <ul>
                <li><a class="me-3 py-2 text-dark text-decoration-none" href="/">About</a></li>

                <!--                                <li><a class="me-3 py-2 text-dark text-decoration-none" href="/">Toppan CP 500</a>-->
                <!--                                    <ul class="submenu">-->
                <!--                                        <li><a class="me-3 py-2 text-dark text-decoration-none" href="/printer/toppan">Принтера</a>-->
                <!--                                        </li>-->
                <!--                                        <li><a class="me-3 py-2 text-dark text-decoration-none" href="/printer/toppan-add">Додати-->
                <!--                                            принтер</a></li>-->
                <!--                                        <li><a class="me-3 py-2 text-dark text-decoration-none" href="/printer/Total_Count">Total-->
                <!--                                            Count</a></li>-->
                <!--                                    </ul>-->
                <!--                                </li>-->

                <li><a class="me-3 py-2 text-dark text-decoration-none" href="/">Довідки суд..</a>
                    <ul class="submenu2">
                        <li>
                            <a class="me-3 py-2 text-dark text-decoration-none" href="/rubin/week/rubin-week-view">ТСЦ..
                                довідки щоденні, формування таблиць</a>
                        </li>
                        <li>
                            <a class="me-3 py-2 text-dark text-decoration-none" href="/rubin/week/rubin-add-week">ТСЦ..
                                звіт щоденний</a>
                        </li>
                    </ul>
                </li>

                <li><a class="me-3 py-2 text-dark text-decoration-none" href="/karta/searchAMT">Компан</a></li>

                <li><a class="me-3 py-2 text-dark text-decoration-none" href="/">АрешТ</a>
                    <ul class="submenu">
                        <li><a class="me-3 py-2 text-dark text-decoration-none" href="/karta/arestupdate">Sync аррешт</a></li>

                        <li><a class="me-3 py-2 text-dark text-decoration-none" href="/">Внести арешт</a></li>
                        <li><a class="me-3 py-2 text-dark text-decoration-none" href="/">Зняти арешт</a></li>

                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>